<!DOCTYPE html>
<html lang="en">

<head>




  <%- include('partials/_head') %>

</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <h1>Recent Polls</h1>


  <script type="module" src="/scripts/recent_polls.js"></script>
</body>

</html>
