<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/_head') %>
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- App JS -->


  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

    <!-- BODY TITLE -->
    <h1>Create a new Poll!</h1>

    <div id="warning-comment">You've reached maximum choices</div>

    <div id="form-wrapper" class="d-block w-10">
      <form action="/polls/new" method="POST" class="poll-creation d-block">
        <input class="input-fields d-block" type="text" name="poll_title" placeholder="Poll Name" required>
        <textarea class="description-field d-block" type="text" name="description" placeholder="What's on your mind?"
          required></textarea>
        <input class="d-block" type="email" required name="email" placeholder="Your Email">
        <textarea class="name-field" id="choice1" type="text" name="poll_options"
          placeholder="Enter a choice"></textarea>
        <textarea class="name-field" id="choice2" type="text" name="poll_options"
          placeholder="Enter a choice"></textarea>
        <textarea class="name-field" id="choice3" type="text" name="poll_options"
          placeholder="Enter a choice"></textarea>
        <textarea class="name-field" id="choice4" type="text" name="poll_options"
          placeholder="Enter a choice"></textarea>
        <textarea class="name-field" id="choice5" type="text" name="poll_options"
          placeholder="Enter a choice"></textarea>
        <button class="buttons d-block" id="add-option-button" type="button">Add Option</button>
        <button type='submit' id='poll-submit-button'>Submit</button>
      </form>
    </div>
  </body>

</html>