<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/_head') %>
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- App JS -->


  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

    <!-- BODY TITLE -->
    <h1>Create a new Poll!</h1>

    <div id="warning-comment">You've reached maximum choices</div>

    <div class="new-form-wrapper" class="">
      <form action="/polls/new" method="POST" class="poll-creation">
        <textarea class="input-fields" type="text" name="poll_title" placeholder="Enter poll name" required></textarea>
        <textarea class="description-field " type="text" name="description" placeholder="What's on your mind?"
          required></textarea>
        <textarea class="user-email" type="email" required name="email" placeholder="Enter your email"></textarea>
        <textarea class="poll-options" id="choice1" type="text" name="poll_options"
          placeholder="Enter a choice"></textarea>
        <textarea class="poll-options" id="choice2" type="text" name="poll_options"
          placeholder="Enter a choice"></textarea>
        <textarea class="poll-options" id="choice3" type="text" name="poll_options"
          placeholder="Enter a choice"></textarea>
        <textarea class="poll-options" id="choice4" type="text" name="poll_options"
          placeholder="Enter a choice"></textarea>
        <textarea class="poll-options" id="choice5" type="text" name="poll_options"
          placeholder="Enter a choice"></textarea>
        <div class="new-poll-button">
          <button class="btn btn-outline-light" type="button" id="add-option-button">Add Option</button>
          <button class="btn btn-outline-light" type='submit' id='poll-submit-button'>Submit</button>
        </div>
      </form>
    </div>
  </body>

</html>