<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/_head') %>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

    <h1>Family Summer Trip</h1>

    <div class=description></div>

    <div class="d-flex justify-content-around poll-container">

      <div class="result-chart">Result chart shows up here</div>

      <div class="voting-form">
        <ul class="d-flex flex-column justify-content-center align-items-center voting-options" id="user-votes"></ul>
        <div class='d-flex justify-content-center'>
          <button type='submit' class='submit-button'>Submit</button>
        </div>
      </div>
    </div>


  </body>

</html>