 /* See: https://sass-lang.com/ */

html {
   margin: 0;
   height: 100%;
 }

 h1, h3 {
   text-align: center;
   font-family: 'Sonsie One', cursive;
 }

 h1 {
   font-weight: bold;
   font-size: 70px;
 }

 h4 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.recent-polls a {
  text-align: center;
  text-decoration: none;
  color: #46494e;
  font-family: 'Short Stack', cursive;
}