 /* See: https://sass-lang.com/ */

html {
   margin: 0;
   height: 100%;
 }

 h1 {
   text-align: center;
   font-weight: bold;
   font-size: 70px;
   font-family: 'Acme', sans-serif;
 }

 h4 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
