body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #e7eaf6;
  font-family: 'Merienda', cursive;
  color: #46494e;
}

.warning-comment {
  text-align: center  ;
  color: #AC2D3B;
  padding-bottom: 50px;
  font-family: 'Short Stack', cursive;
  font-size: 20px;
}

.comment {
  font-size: 40px;
  text-align: center;
  font-family: 'Short Stack', cursive;
}
