#new-form-wrapper {
  background-color: #b5c7e2;
  display: flex;
  justify-content: center;
  margin:auto;
  width: 70%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 50px 0
}

.poll-creation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poll-creation textarea {
  border: none;
  background-color: #b5c7e2 !important;
  border-bottom: 1px solid #59769E;
  resize: none;
  outline: none;
  font-size: 20px; 
  padding-top: 10px;
  font-family: 'Indie Flower', cursive;
  width: 700px;
  margin-top: 10px;
  font-size: 25px;
}


.new-poll-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.new-poll-button button {
  width: 120px;
  height: 50px;
  background-color: #59769E;
  border: none;
}

.voting-options {
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#poll-title {
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 75px;
  list-style: none;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 35px;
  margin-top: 20px;
  background-color: #352f44;
  color: #dbd8e3;
  cursor: pointer;
}
.sub-btn {
  width: 100%;
  height: 50px;
  font-size: 25px;
  border-radius: 15px;
  border: none;
}

.sub-btn:hover {
  background-color: #3f3e41;
  color: white;
}
