.new-form-wrapper {
  background-color: #b5c7e2;
  display: flex;
  justify-content: center;
  margin:auto;
  width: 70%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 50px 0
}

.poll-creation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poll-creation textarea {
  border: none;
  background-color: #b5c7e2 !important;
  border-bottom: 1px solid #59769E;
  resize: none;
  outline: none;
  font-size: 20px; 
  padding-top: 10px;
  font-family: 'Short Stack', cursive;
  width: 700px;
  margin-top: 10px;
  font-size: 20px;
  height: 70px;
}

.new-poll-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.new-poll-button button {
  width: 120px;
  height: 50px;
  background-color: #59769E;
  border: none;
}

.result-page {
  display: flex;
  justify-content: space-around;
}

.poll-info {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-left: 50px;
  font-family: 'Short Stack', cursive;
}

.result-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pie-chart {
  display: flex;
  align-self: center;
}

.poll-description {
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Short Stack', cursive;
}

#voting-form {
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 75px;
  list-style: none;
  border: none;
  border-radius: 15px;
  font-size: 35px;
  margin-top: 20px;
  background-color: #59769E;
  color: #E7EAF6;
}

.options:hover {
  cursor: pointer;
}

.poll-submission-btn {
  width: 120px;
  height: 50px;
  background-color: #59769E;
  border: none;
  margin-top: 20px;
}

.view-btn {
  background-color: #59769E;
  color: white;
  border: none;
  width: 80px;
  
}

.view-btn:hover {
  background-color: #4e627e;
  border: none;
  transform: scale(1.1);
}

.delete-btn {
  background-color: #bb2d3b;
  border: none;
  width: 80px;
}

.delete-btn:hover {
  background-color: #ac2e3b;
  border: none;
  transform: scale(1.1)
}

.my-polls-container {
  display: flex;
  justify-content: center;
}

.table {
  width: 70%;
}   

.polls-list {
  font-family: 'Short Stack', cursive;
}
